/*
## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

font-family: 'Red Hat Display', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
}

body {

    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

    
}

.container {
    width: 400px;
    height: 600px;
    background: white;
    border-radius: 25px;

}

.container .hero {
    max-width: 100%;
    border-radius: 25px 25px 0 0;
}
.text {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 25px;
}
.text h1 {
    font-weight: 900;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}
.para {
    margin: 0 auto 25px;
     text-align: center;
     width: 70%;
     font-size: 15px; 
     color:hsl(224, 23%, 55%)
}
.music {
    background-color: hsl(225, 100%, 98%);
    width: 75%;
    margin: 0 auto;
    height: 80px;
    position: relative;
    transform: scale(.900);
    border-radius: 10px;
}
.music img {
    width: 40px;
    height: 40px;
    margin: 12px 20px;
    position: absolute;
    top: o;
    left: 0;
}
.music h3 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    position: absolute;
    top: 0;
    left: 25%;
    margin: 12px 0
}
.music a {
    float: right;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family:'Red Hat Display', sans-serif;
    font-weight: 700;
}

.music p {
    color:hsl(224, 23%, 55%);
    position: absolute;
    left: 24.5%;
    bottom: 23%;
}
.btn{

    width: 75%;
    height: 45px;
    margin: 20px 0;
    outline: none;
    background: none;
    border: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    cursor: pointer;
}
.cancel {
    font-size: 12px;
    color:hsl(224, 23%, 55%);
    font-weight: 900;
    cursor: pointer;

}
